.wrapper {
  width: 100%;
  margin: 0 auto;
  }
    
.pictureContent {
    width: 250px;
    height: 400px;
    margin: 20px 20px 20px 20px;
    background-color: #333;
    padding: 10px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pictureContent h1{
    font-size: 20px
}
.pictureContent p{
    font-size: 15px;
    text-align: left;
}

img{
    width: 250px;
    height: 300px;
}