.wrapper {
  width: 1200px;
  margin: auto;
  
  }
    
.pictureContent {
    width: 250px;
    height: 400px;
    margin: 20px 0px 0px 20px;
    background-color: #333;
    padding: 10px;
    float: left;
}

/* movieDesc {
    overflow: hidden;
} */

/* Also to be found in (and overwritten by) movies.css */
.textContent {
  overflow: hidden;
  height: 100px;
}

.textContent h1 {
    font-size: 15px;
    overflow: hidden;
}
.textContent p {
    font-size: 12px;
    text-align: left;
    overflow: hidden;
}

img {
    width: 250px;
    height: 300px;
}