h1 {
    font-size: 30px;
}

.movie {
    /* background-color: white */
}

.showtime {
    font-size: 20px;
}

.showtime:hover {
    background-color: #808080;
    cursor: pointer;
}

.flex-main{
	background-color:white;
}

.content{
	background-color: #333;
}


@media screen and (min-width: 1015px) {
    .flex-main{
		display: flex;
		justify-content:space-around;
		align-content: center;
		flex-wrap: wrap;
		background-color:white;
	}
	
	.content{
		width: 350px;
		margin: 20px 20px 20px 20px;
		background-color: #333;
		font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
		font-size: 10px;
		padding: 0px;
		text-align: center;
	}
	
	img{
		width: 100%;
	}
  }